@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background:  #234F32;
}

body, input, h4, label, textarea {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* header image and title */

#header-image {
    background-image: url('../images/alligator1.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-bottom: 5vh;
}

#header-image h1 {
    float: left;
    font-size: 4.8em;
    margin: 2rem;
}

h1, h2, h3 {
    color: whitesmoke;
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 3.6em;
}

h3 {
    font-size: 2.4em;
}

p, h4 {
    font-size: 1.2em;
}

/* navigation links */

#menu {
    font-size: 120%;
}

#menu li {
    background-color: black;
    color: whitesmoke;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 8px 0 8px 0;
    text-align: center; 
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 2px solid whitesmoke;
}

.active {
    border-bottom: 2px solid whitesmoke;
}

nav {
    padding: 0 0 20px 0;
}

/* home image */

#home-image {
    background-image: url("../images/alligator2.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-left: 20vw;
    padding-top: 45vh;
    width: 100%;
}

/* text styles */

.text-center {
    text-align: center;
}


/* activities */

.three-image {
    text-align: center;
    padding: 20px 0 20px 0;
}

/* footer */



.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 4%;
    padding: 4%;
    color: whitesmoke;
}

/* alligator video */

#alligator-video {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    padding: 20px 0 20px 0;

}

/* contact information */

#contact-info {
    width: 100%;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
    color: black;
}


/* contact form */

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    color: black;
}

input[type=submit] {
    background-color: black;
    color: whitesmoke;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: whitesmoke;
    color: black;
}

.contact {
    background-color: black;
    border-radius: 5px;
}


label {
    padding-left: 5px;
}

/* media queries */

@media screen and (min-width:630px) {
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: 1;
        margin: 2px;
    }
    .what-to-do {
        display: flex;
    }
    .times {
        flex:1;
    }
}
