@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header */

#header-image {
    background-image: url('../images/alligator1.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
}

#header-image h1 {
    font-family: 'Bangers', cursive;
    float: left;
    font-size: 4.8em;
    margin: 2rem;
    color: white;
}