@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background:  #234F32;
}

body {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* header image and title */

#header-image {
    background-image: url('../images/alligator1.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-bottom: 5vh;
}

#header-image h1 {
    float: left;
    font-size: 4.8em;
    margin: 2rem;
}

h1, h2 {
    color: whitesmoke;
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
}

h2 {
    font-size: 3.6em;
    color: whitesmoke;
}


/* navigation links */

#menu {
    font-size: 120%;
}

#menu li {
    background-color: black;
    color: whitesmoke;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 8px 0 8px 0;
    text-align: center; 
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 2px solid whitesmoke;
}

.active {
    border-bottom: 2px solid whitesmoke;
}

/* home image */

#home-image {
    background-image: url("../images/alligator2.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-left: 5vh;
    padding-top: 45vh;
    width: 100%;
}

/* text styles */

.text-center {
    text-align: center;
}

/* home page information */

#information {
    padding: 20px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 4%;
    padding: 4%;
    color: whitesmoke;
}

/* alligator video */

